#jumbotron{
    margin-top: 6rem;
    height: 20rem;
    h1{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 5rem;
    }
    div{
        h2{
            font-family: 'Comforter', cursive;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
        span{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 1.5rem;
        }
    }
   
}