nav{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    .container{
        a{
            div{
                img{
                    opacity: 0.7;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}